body {
    color: #333;
    font-family: 'Lato', sans-serif;
    
    margin: auto;
    background-color: #909090;
    width: 60%;
    padding: none;
    min-height: 100%;
}

#App {
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}